.registry {
  display: flex;
  background-color: var(--transparent-bg);
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin-bottom: 300px;
}

.registry-h2 {
  margin: 25px 0 10px 0;
}

.registry-wrapper {
  display: flex;
  justify-content: center;
}

/* .robot {
  margin-top: 40px;
  width: 56vw;
} */
