.logo-ctn {
  line-height: 1.1;
  text-shadow: 5px 5px 10px var(--black), -5px -5px 10px var(--black);
  background-color: var(--logo-bg);
  border-color: var(--logo-border);
  border-radius: 20%;
  border-style: dashed;
  padding: 5px 175px 12px 175px;
  margin-bottom: 30px;
}
