.chip-of-the-day {
  display: flex;
  justify-content: center;
  background-color: var(--blue-dark);
  box-shadow: inset 0 0 16px var(--logo-bg), 0 0 16px var(--blue-dark);
  border-radius: 6px;

  padding: 40px 42px 52px 40px;
  width: 300px;
}

.chip-of-the-day p {
  padding: 3px;
  width: 100%;
  margin: 0;
}

.chip-of-the-day h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.cotd-desc-ctn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cotd-desc-key-ctn {
  display: flex;
}

.cotd-labels {
  position: relative;
}

.cotd-labels p {
  background:
  /* Top border gradient that starts 15px from left */ linear-gradient(
        to right,
        transparent 7px,
        var(--turquoise-light) 15px,
        var(--turquoise) 100%
      )
      0 0/100% 1px no-repeat,
    /* Main background */
      linear-gradient(to right, var(--blue-gradient), var(--blue-dark));
  color: var(--primary);
  position: relative;
  text-align: end;
  z-index: 1;
  width: 70px;
  padding-right: 10px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, var(--primary), var(--turquoise)) 1;
  border-left: none;
  z-index: 10;
}

.cotd-labels p::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  width: 10px;
  margin-top: 1px;
  background: linear-gradient(to right, var(--blue-gradient), transparent);
  border: 1px solid var(--turquoise-light);
  border-left: 2px solid var(--accent);
  border-right: none;
  border-top: none;
  border-bottom: none;
  z-index: -1;
}

.cotd-labels p::after {
  content: "";
  position: absolute;
  top: 0;
  height: 40%;
  left: 0;
  width: 10px;
  background-color: var(--blue-dark);
  border-right: 2px solid var(--turquoise-light);
  border-top: none;
  transform: skewX(-40deg);
  transform-origin: top left;
  z-index: -1;
}

.cotd-desc p {
  box-shadow: inset 0 0 6px var(--turquoise-transparent);
}

.cotd-desc-text p {
  width: 180px;
  text-align: left;
  border: 1px solid var(--turquoise);
  padding: 2px 3px 3px 5px;
}
